.wrap-add-specil-top {
  background-color: white;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 4px;
}

.wrap-add-special-bottom {
  background-color: white;
  padding: 12px;
  border-radius: 4px;
}

.form-group-add-special input {
  padding: 8px 16px;
  width: 100%;

  display: block;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  border: 1px solid #cdd9ed;
  transition: border 0.3s ease;

  margin-bottom: 12px;
}

.form-group-add-special input:focus {
  outline: none;
  border-color: #4370f8;
}

.content-add-special-btn {
  text-align: center;
  margin: 12px 0;
}

.content-add-special-btn button {
  background-color: #77b5d9;
  color: white;
  border: none;
  padding: 4px 8px;
}
